fastapi[standard]
sqlalchemy
psycopg2-binary
alembic
pydantic
pydantic-settings
groq
sentence-transformers==2.7.0
torch==2.1.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
httpx
python-dotenv
python-multipart
aiofiles
uvicorn[standard]
faster-whisper
